<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>presentation.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Client</servlet-name>
  	<display-name>Client</display-name>
  	<description></description>
  	<servlet-class>presentation.Client</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Admin</servlet-name>
  	<display-name>Admin</display-name>
  	<description></description>
  	<servlet-class>presentation.Admin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>presentation.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Account</servlet-name>
  	<display-name>Account</display-name>
  	<description></description>
  	<servlet-class>presentation.Account</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FlightsAvailable</servlet-name>
  	<display-name>FlightsAvailable</display-name>
  	<description></description>
  	<servlet-class>presentation.FlightsAvailable</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FlightsClient</servlet-name>
  	<display-name>FlightsClient</display-name>
  	<description></description>
  	<servlet-class>presentation.FlightsClient</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UsersAdmin</servlet-name>
  	<display-name>UsersAdmin</display-name>
  	<description></description>
  	<servlet-class>presentation.UsersAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>City</servlet-name>
  	<display-name>City</display-name>
  	<description></description>
  	<servlet-class>presentation.City</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CitiesAdmin</servlet-name>
  	<display-name>CitiesAdmin</display-name>
  	<description></description>
  	<servlet-class>presentation.CitiesAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CitiesAdminUpdate</servlet-name>
  	<display-name>CitiesAdminUpdate</display-name>
  	<description></description>
  	<servlet-class>presentation.CitiesAdminUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CitiesAdminDelete</servlet-name>
  	<display-name>CitiesAdminDelete</display-name>
  	<description></description>
  	<servlet-class>presentation.CitiesAdminDelete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FlightsAdminDelete</servlet-name>
  	<display-name>FlightsAdminDelete</display-name>
  	<description></description>
  	<servlet-class>presentation.FlightsAdminDelete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FlightsAdminUpdate</servlet-name>
  	<display-name>FlightsAdminUpdate</display-name>
  	<description></description>
  	<servlet-class>presentation.FlightsAdminUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FlightsAdmin</servlet-name>
  	<display-name>FlightsAdmin</display-name>
  	<description></description>
  	<servlet-class>presentation.FlightsAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LocalTime</servlet-name>
  	<display-name>LocalTime</display-name>
  	<description></description>
  	<servlet-class>presentation.LocalTime</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Client</servlet-name>
  	<url-pattern>/client</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Admin</servlet-name>
  	<url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Account</servlet-name>
  	<url-pattern>/account</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FlightsAvailable</servlet-name>
  	<url-pattern>/flightsAvailable</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FlightsClient</servlet-name>
  	<url-pattern>/flightsClient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UsersAdmin</servlet-name>
  	<url-pattern>/usersAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CitiesAdmin</servlet-name>
  	<url-pattern>/citiesAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CitiesAdminUpdate</servlet-name>
  	<url-pattern>/citiesAdminUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CitiesAdminDelete</servlet-name>
  	<url-pattern>/citiesAdminDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FlightsAdminDelete</servlet-name>
  	<url-pattern>/flightsAdminDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FlightsAdminUpdate</servlet-name>
  	<url-pattern>/flightsAdminUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FlightsAdmin</servlet-name>
  	<url-pattern>/flightsAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LocalTime</servlet-name>
  	<url-pattern>/localTime</url-pattern>
  </servlet-mapping>
</web-app>
